/** {border-style: solid;}*/

.game-container {
  text-align: center;
  color: white;
  vertical-align:center;
}

body {
  background-color: #348b9e;

}
.memory {
  color: white;
  font-family: Orbitron,sans-serif;
  font-size: 4em;
  border: none;
  display: inline-block;
  align-content: center;
  position: center;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h2 {font-size: 3em
  font-family: Orbitron,sans-serif;
}

.menu-container {
  font-size: none;
}

.start-button1:hover {
  background-color: #fff;
  color: black;
}

.start-button1 {
  border-style: solid;
  border-width: 10px;
  border-color: white;
  width: 24%;
  margin-left: 38%;
  align-content: center;
  position: center;
  display: block;
  align-content: center;
  transform: perspective(200px) rotatey(-15deg);
}

.start-button2:hover {
  background-color: #fff;
  color: black;
}
.start-button2 {
  border-style: solid;
  border-width: 10px;
  border-color: white;
  width: 24%;
  margin-left: 38%;
  align-content: center;
  position: center;
  display: block;
  align-content: center;
  transform: perspective(200px) rotatey(+15deg);
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://fonts.gstatic.com/s/orbitron/v7/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

/*#rectangle {
    width: 220px;
    height: 120px;
    background: #4da1f7;
    position: absolute;
    transform:rotateY(60px);*/
}
/*.hard {
  width: 25%;
  border: solid;
  align-content: center;
  position: center;
  display: block;
  align-content: center;
}*/
